.layout-container-demo {
  height: 100%;

  .el-header {
    height: 60px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(171 171 171 / 59%);
    color: #f9f0da !important;
    position: relative;
    padding-right: 8px;

    .collapse_menu {
      width: 2%;
      display: inline-block;
      text-align: left !important;
    }

    .heard_bread {
      position: fixed;
      margin-left: 40px;
      color: #f9f0da;
    }

    .header_title {
      font-size: 25px;
      display: inline-block;
    }

    .mag {
      margin: 0 7px;
    }

    .user_set {
      display: flex;
      align-items: center;
      .search {
        display: inline-block;
        position: relative;

        input {
          height: 95%;
          width: 0;
          padding: 0 42px 4px 15px;
          border: none;
          border-bottom: 2px solid transparent;
          outline: none;
          background: transparent;
          transition: 0.4s cubic-bezier(0, 0.8, 0, 1);
          position: absolute;
          top: 0;
          right: 0;
        }

        .seainput {
          width: 200px;
          font-size: 16px;
          border-bottom: 2px solid #626aef;
        }

        .search_circle {
          position: absolute;
          top: 13px;
          left: -24px;
          display: none;
          cursor: pointer;
        }

        button {
          width: 42px;
          height: 42px;
          border: none;
          border-radius: 5px;
          font-size: 18px;
          background: none;
          z-index: 9999;
          cursor: pointer;
        }

        button:before {
          font-family: FontAwesome;
          font-size: 16px;
          color: #f9f0da;
        }
      }
    }

    .full_screen {
      cursor: pointer;
    }

    .full_user {
      cursor: pointer;

      .el-dropdown-link {
        display: flex;
        align-items: flex-end;
      }
    }
  }

  .el-aside {
    color: var(--el-text-color-primary);
    // background: var(--el-color-primary-light-8);
    background: none;
    transition: all 1ms;
    -webkit-transition: width 0.5s;
    -moz-transition: width 0.5s;
    -webkit-transition: width 0.5s;
    -o-transition: width 0.5s;

    .scrollbar_headerTitle {
      display: flex;
      font-size: 20px;
      text-align: center;
      font-weight: bold;
      font-family: fantasy;
      line-height: 29px;
      padding: 14px 22px;
      justify-content: center;
      align-items: center;
    }

    ::v-deep(.el-scrollbar__view) {
      height: 100%;
    }
  }

  .el-main {
    padding: 0;
    margin-top: 10px;
    height: calc(100vh - 70px); // 设置主体 main 高度
  }

  .el-menu {
    border-right: none;
    height: 100%;
    transition: all 10ms;

    .menu_icon {
      vertical-align: middle;
      margin-right: 13px;
      margin-left: 10px;
      width: var(--el-menu-icon-width);
      text-align: center;
    }
    .menu_icon_full {
      vertical-align: middle;
      width: var(--el-menu-icon-width);
      text-align: center;
    }
  }

  .el-menu-vertical-demo:not(.el-menu--collapse) {
    width: 233px;
  }
}
